	@CHARSET "UTF-8";
	body
	    {
	        background:url(bg_pic1.jpg) no-repeat center center fixed;
	        background-size: cover;
	        -webkit-background-size: cover;
	        -moz-background-size: cover;
	        -o-background-size: cover;
	        margin: 0;
	        padding: 0;
	    }
	    
	 #button{
	 		border-radius: 3em;
	 		position:absolute;
	 		margin-top:20em;
	 		margin-left:50em;
	 		height:4em;
	 		width:18em;		
	 }   
	 